{% extends "base_menu.html" %}
{% load extras %}

{% block title %}
 {{application.app_name}} application's logs
{% endblock %}

{% block history %}
 <a href="/applications">applications list</a> > 
 <a href="/application/{{application.id}}">{{application.app_name}} application</a>  
{% endblock %}

{% block right_content %}

		<form action="." method="POST" id="find_stat_form">
        <table id="stat_filter" style="border: 1px solid #C9C779">
            <tr>
                <th align="left" width="35%">From date</th>
                <th align="left" width="35%">To date</th>
                <td rowspan="2">
                    <input  type="submit" value="Find statistic">
                </td>
            </tr>
            <tr>
                <td>
                    <select name="fromDay" style="width: 45px;" >
			            {% for day in calendar_from.days %}
                            <option value="{{day}}">{{day}}</option>
			            {% endfor %}
                    </select>
                    <select name="fromMonth" style="width: 100px;">
			            {% for month in calendar_from.months %}
                            <option value="{{month.num}}">{{month.descr}}</option>
			            {% endfor %}
                    </select>
                    <select name="fromYear" style="width: 60px;">
                        {% for year in calendar_from.years %}
                            <option value="{{year}}">{{year}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="toDay" style="width: 45px;" >
			            {% for day in calendar_to.days %}
                            <option value="{{day}}">{{day}}</option>
			            {% endfor %}
                    </select>
                    <select name="toMonth" style="width: 100px;">
			            {% for month in calendar_to.months %}
                            <option value="{{month.num}}">{{month.descr}}</option>
			            {% endfor %}
                    </select>
                    <select name="toYear" style="width: 60px;">
                        {% for year in calendar_to.years %}
                            <option value="{{year}}">{{year}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                </td>
            </tr>
        </table>
        </form>


        {% if logs %}
		<table cellspacing="0" id="logs_table">
            <tr>
                <td colspan="5">
                    <input  type="button" value="<< previous" onclick="({{islastpage}}==1)|| (location.href='/applications_logs/'+String({{page_num}}+1));">
                    <input  type="button" value="next >>" onclick="({{page_num}}-1>=0) && (location.href='/applications_logs/'+String({{page_num}}-1));">
                </td>
            </tr>
			<tr id="table_head_line">
				<th width=20% >datetime</th>
				<th width=15% >node</th>
				<th width=15% >message type</th>
				<th width=15% >sender</th>
				<th >method</th>
			</tr>
			{% for log in logs %}
			    <tr id="{% cycle 'table_line1' 'table_line2' %}">
				    <td  align="center"><a href="/app_log_message/{{log.id}}">{{log.datetime|shortdatetime}}</a></td>
				    <td  align="center">{{log.node.logic_name}}</a></td>
				    <td  align="center">{{log.message_type|get_msg_type}}</td>
				    <td  align="center">{{log.sender_host}}</td>
				    <td  align="center">{{log.method.method_name}}</td>
			    </tr>
			{% endfor %}

            <tr>
                <td colspan="5">
                    <input  type="button" value="clear finded messages" onclick="askWindow('Do you realy want clear finded messages?','/clear_messages/')">
                </td>
            </tr>
		</table>
        {% else %}
            <p id="page_header">No messages found!</p>
        {% endif %}
{% endblock %}
