{% extends "base.html" %}

{% block base_content %}
	<div id="inform_area">
		<table>
		   <tr>
		   	<td>{{message|escape|linebreaks}}</td>
		   </tr>
		   <tr>
           {% if yes and no %}
		        <td align="center"><input type="button" value="Yes" onclick="location.href='{{yes}}';"><input type="button" value="No" onclick="location.href='{{no}}';"></td>
           {% else %}
		        <td align="center"><input type="button" value="Ok" onclick="location.href='{{redirect_link}}';"></td>
           {% endif %}
		   </tr>
		</table>
	</div>
{% endblock %}
