{% extends "base.html" %}

{% block base_content %}

<script type="text/javascript">
    function get_instance_status(status) {
        //0 - inprogress 1 - complete 2 - error
        if (status == "0") {
            return "<b>In progress</b>" 
        } else if (status == "1") {
            return "<b>Complete</b>" 
        } else if (status == "2") {
            return "<b>Error</b>" 
        }
    }

    function get_ret_status_img(status) {
        if (status == "0") {
            return "ok.png" 
        } else {
            return "fail.png"
        }
    }

    $(function() {
        $('.status_img').each(function(i, item) {
            var data = get_instance_status($(item).html());
            $(item).html(data);
        });

        $('.ret_status_img').each(function(i, item) {
            var img_data = get_ret_status_img($(item).html());
            $(item).html('<img src="/static/'+ img_data + '"/>');
        });

        fix_columns_width('.oper_info_table');
        fix_columns_width('.oper_progress_table');
        $('.oper_info_table').flexigrid({'height': 'auto',
            'title': 'Operation information',
            resizable: false,
            singleSelect: true});

        $('.oper_progress_table').flexigrid({'height': 180,
            'title': 'Operation progress',
            resizable: false,
            singleSelect: true});
    });
</script>

<table class="oper_info_table" width="100%">
    <thead>
    <tr style="visibility:hidden;">
        <th width="30%"></th>
        <th width="40%"></th>
    </tr>
    </thead>
    <tbody>
        <tr>
            <td>Operation</td>
            <td>{{oper_instance.operation.name}}</td>
        </tr>
        <tr>
            <td>Status</td>
            <td class="status_img">{{oper_instance.status}}</td>
        </tr>
        <tr>
            <td>Date start</td>
            <td>{{oper_instance.start_datetime}}</td>
        </tr>
        <tr>
            <td>Date end</td>
            <td>{{oper_instance.end_datetime}}</td>
        </tr>
    </tbody>
</table>

<table class="oper_progress_table" width="100%" auto_height>
    <thead>
    <tr>
        <th width="20%">Node</th>
        <th align="center" width="10%">Progress (%)</th>
        <th width="15%">Last update</th>
        <th align="center" width="5%">Status</th>
        <th width="50%">Progress log</th>
    </tr>
    </thead>
    <tbody>
    {% for progress in nodes_progress %}
        <tr>
            <td>{{ progress.node.hostname }}</td>
            <td>{{ progress.progress }}</td>
            <td>{{ progress.end_datetime }}</td>
            <td class="ret_status_img">{{ progress.ret_code }}</td>
            <td>{{ progress.progress_log|escape|linebreaks }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
