{% extends "base.html" %}

{% block base_content %}

<script type="text/javascript">
    function on_new_user() {
        document.location.href = '/create_new_user';
    }

    function check_user_id(base_url, ask_text) {
        var user_id = $('.trSelected').attr('id');
        if (user_id) {
            if (ask_text) {
                var agree = confirm("Do you really want " + ask_text +" selected user?");
                
                if (agree) {
                    document.location.href = base_url + user_id;
                }
            } else {
                document.location.href = base_url + user_id;
            }
        } else {
            alert('Please, select user in list!');
        }
    }

    function on_delete_user() {
        check_user_id('/delete_user/', 'delete');
    }
    function on_edit_user() {
        check_user_id('/edit_user/', '');
    }
    function on_edit_roles() {
        check_user_id('/edit_user_roles/','');
    }


    $(function() {
        fix_columns_width('.users_list_table');
        $('.users_list_table').flexigrid({'height': 200,         
        'buttons' : [
            {name: 'New user', bclass: 'add', onpress : on_new_user},
            {separator: true},
            {name: 'Delete user', bclass: 'delete', onpress : on_delete_user},
            {separator: true},
            {separator: true},
            {name: 'Edit user', bclass: 'edit', onpress : on_edit_user},
            {separator: true},
            {name: 'Edit roles', bclass: 'edit', onpress : on_edit_roles},
            {separator: true}
            ],
            'title': 'Users list',
            resizable: false,
            singleSelect: true});
    });
</script>

<table class="users_list_table" width="100%" auto_height>
    <thead>
    <tr>
        <th width="20%">User name</th>
        <th width="20%">e-mail address</th>
        <th width="60%">Additional information</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
        <tr id="{{user.id}}">
            <td>{{user.name}}</td>
            <td>{{user.email_address}}</td>
            <td>{{user.additional_info}}</td>
        </tr>

    {% endfor %}
</table>

{% endblock %}
