{% extends "base_menu.html" %}
{% load i18n %}

{% block title %}
{% trans "Зміна паролю" %}
{% endblock %}

{% block history %}
<a href="/" >{% trans "Головна сторінка" %}</a> 
{% endblock %}

{% block base_content %}

<script type="text/javascript">
    function changePassword() {
        var pass1 = $('#pass1').val();
        var pass2 = $('#pass2').val();
        var login = $('#login').val();

        if (login.length == 0) {
            alert({% trans "'Ви не ввели Ваш логін!'" %});
            return; 
        }

        if (pass1.length == 0) {
            alert({% trans "'Ви не ввели новий пароль!'" %});
            return;
        }

        if (pass1 != pass2) {
            alert({% trans "'Введені паролі не співпадають!'" %});
            return;
        }

        $('#change_pwd_form').submit();
    }
</script>

    <div id="change_password">
	<form class="std_form" action="/change_password/" id="change_pwd_form" method="POST">
    <table cellspacing="0">
        <tr>
            <td width="50%">{% trans "Логін" %}</td>
            <td><input class="t_inp" id="login" type="edit" name="login"></input></td>
        </tr>
        <tr>
            <td>{% trans "Новий пароль" %}</td>
            <td><input class="t_inp" id="pass1" type="password" name="new_password"></input></td>
        </tr>
        <tr>
            <td>{% trans "Новий пароль (повторний ввід)" %}</td>
            <td><input class="t_inp" id="pass2" type="password"></input></td>
        </tr>
        <tr>
            <td colspan="2" class="submit_btn"><input type="button" onClick="changePassword();" value="{% trans "Змінити пароль" %}"></input></td>
        </tr>
    </table>
    </form>
    </div>
{% endblock %}
