{% extends "base_admin.html" %}

{% block title %}
 Інформація про прийом
{% endblock %}

{% block history %}
<a href="/" >Головна сторінка</a> > <a href="/manage_worktime">Вибір дня</a> > <a href="/manage_day/{{record.start_datetime|date:"d/m/Y"}}">{{record.start_datetime|date:"d.m.Y"}}</a>
{% endblock %}

{% block base_content %}
    <p class="centered_element">Інформація про прийом</p>
    <table cellspacing="1" id="record_info_table">
        <tr>
            <td width="40%">Дата прийому</td>
            <td>{{record.start_datetime|date:"d.m.Y"}}</td>
        </tr>
        <tr>
            <td>Час прийому</td>
            <td>{{record.start_datetime|date:"H:i"}} - {{record.stop_datetime|date:"H:i"}}</td>
        </tr>
        <tr>
            <td>Клієнт</td>
            <td><a href="/manage_user/{{record.user.id}}">{{record.user.name}}</a></td>
        </tr>
        <tr>
            <td>Послуга</td>
            <td>{{record.service.name}}</td>
        </tr>
        <tr>
            <td>Коментар до прийому</td>
            <td>{% if record.comment %}{{record.comment}}{% else %}Немає{% endif %}</td>
        </tr>
        <tr>
            <td colspan="2" class="btn"><input type="button" onClick="document.location.href='/admin_cancel_record/{{record.id}}'" value="Відмінити прийом"></input></td>
        </tr>
    </table>
{% endblock %}
