
/* BASE INTEMS */

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Helvetica, Arial, Verdana, sans-serif;
    margin: 0%;
    padding: 0px;
    background-color: #E6E6E6 ;
}

#container {
    position: absolute;
    left: 1%;
    width: 98%;
    min-width: 600px;
    border: 1px solid #CCC;
}

#container_table {
    table-layout:fixed;
    width:100%;
}

#banner {
    margin-top: 5px;
    width: 100%;
    height: 50px;
	background: url(/static/banner.png) repeat-x;
    display: block;
}

#banner_text {
    position:absolute;
    padding-top: 10px;
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-style: bold;
    text-align: center;
    color: #4e5546;
}

#big_logo {
    position:absolute;
    margin-left: 10px;
    width :85px;
    height :50px;
	background: url(/static/logo_big.png) no-repeat;
}

#base_content {
    background-color: #efefef;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
}

#footer {
    clear: both;
    background-color: #d4d5d3;
    vertical-align: baseline;
    display: block;
    border: 1px solid #CCC;
}

#footer table td {
    color: #939a8a;
    font-size: 12px;
}

#footer a {
    color: #939a8a;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    color: #FF655D;
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 4px 5px;
}

.error {
    color: #FF655D;
    display: block;
    font-size: 15px;
    margin: 0px;
    padding: 4px 5px;
}

p.centered_element {
    text-align: center;
    font-size: 16px; 
    color: #2A4A34;
    font-weight: bold;
}

a.link {
    color: #4E944A;
    display: normal;
    text-decoration:none;
}
a.link:hover {
    color: #174002;
}

.label { 
    color: #174002;
}

.hint_message {
    margin: 20px;
    color: #778760;
}

form table td input, form table td select {
    width: 100%;
}

#auth_form  {
   width: 30%;
   padding-left: 35%;
   padding-top: 10%;
}

#auth_form form {
   padding: 5px 5px;
   display: block;
   border: solid 2px #646d59;
   background-color: #cacfc4;
}

#welcome {
   color: #6c8054; 
   font-weight: bold;
   text-align: center;
   font-size: 18px;
}

#auth_form table {
   width: 100%;
   color: #6e7269;
   padding-top: 10px
}

#auth_form table th {
    text-align: right;
    padding-right: 10px;
}

#auth_form input {
    width: 100%;
    margin: 10 5 10 -5;
}

#auth_form p input {
    width: 50%;
    margin-left: 25%;
    font-size: 16px;
}

.flexigrid div.fbutton .add {
    background: url(table/images/add.png) no-repeat center left;
}

.flexigrid div.fbutton .delete {
    background: url(table/images/delete.png) no-repeat center left;
}

.flexigrid div.fbutton .edit {
    background: url(table/images/config.png) no-repeat center left;
}

.flexigrid div.fbutton .save {
    background: url(table/images/save.png) no-repeat center left;
}

.flexigrid div.fbutton .cancel {
    background: url(table/images/cancel.png) no-repeat center left;
}

.flexigrid div.fbutton .cont {
    background: url(table/images/cont.png) no-repeat center left;
}

.flexigrid div.fbutton .warn {
    background: url(table/images/warn.png) no-repeat center left;
}

.flexigrid div.fbutton .sync {
    background: url(table/images/sync.png) no-repeat center left;
}

.flexigrid div.fbutton .list {
    background: url(table/images/list.png) no-repeat center left;
}
