
/* BASE INTEMS */

body {
    font: normal 14px verdana,helvetica,arial;
    margin: 0px;
    padding: 0px;
    background-color: #E6E6E6 ;
}

#container {
    margin-left: 1%;
    width: 98%;
    min-width: 600px;
}

#banner {
    margin-top: 5px;
}

#base_content {
    background-color: #FAFAFA;
    border-right: 1px solid #CCC;
}

#footer {
    clear: both;
    background-color: #FAFAFA;
    vertical-align: baseline;
    display: block;
    border: 1px solid #CCC;
}

#footer table td {
    color :#5F6D73;
    font-size: 12px;
}

ul.errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    color: #FF655D;
    display: block;
    font-size: 15px;
    margin: 0;
    padding: 4px 5px;
}

.error {
    color: #FF655D;
    display: block;
    font-size: 15px;
    margin: 0px;
    padding: 4px 5px;
}

p.centered_element {
    text-align: center;
    font-size: 16px; 
    color: #2A4A34;
    font-weight: bold;
}

a.link {
    color: #4E944A;
    display: normal;
    text-decoration:none;
}
a.link:hover {
    color: #174002;
}

.label { 
    color: #174002;
}

.hint_message {
    margin: 20px;
    color: #778760;
}


/*  END BASE INTEMS */

.flexigrid div.fbutton .add {
    background: url(images/add.png) no-repeat center left;
}

.flexigrid div.fbutton .delete {
    background: url(images/close.png) no-repeat center left;
}

