{% extends "base.html" %}

{% block base_content %}

<script type="text/javascript">
    function on_role_move(method) {
        var role_id = $('.trSelected').attr('id');
        if (role_id) {
            $.post('/edit_user_roles/{{user.id}}', {'method': method, 'value': role_id})
                .success(function() { document.location.href = '/edit_user_roles/{{user.id}}'; }); 
        } else {
            alert('Please, select role in list!');
        }
    }

    function on_role_add() {
        on_role_move('push');
    }
    function on_role_delete() {
        on_role_move('pop');
    }

    $(function() {
        fix_columns_width('.all_roles_list_table');
        fix_columns_width('.user_roles_list_table');
        $('.all_roles_list_table').flexigrid({'height': calc_height('.all_roles_list_table'), 'buttons' : [
            {name: "Add to user’s roles ", bclass: 'add', onpress : on_role_add},
            {separator: true},
            ],
            'title': 'Available system roles',
            resizable: false,
            singleSelect: true});

        $('.user_roles_list_table').flexigrid({'height': 200, 'buttons' : [
            {name: "Delete from user’s roles ", bclass: 'delete', onpress : on_role_delete},
            {separator: true},
            ],
            'title': 'Available system roles',
            resizable: false,
            singleSelect: true});
    });
</script>


<table class="user_roles_list_table" width="100%">
    <thead>
    <tr>
        <th width="30%">Role SID</th>
        <th width="70%">Description</th>
    </tr>
    </thead>
    <tbody>
    {% for role_bind in user_roles %}
        <tr id="{{role_bind.role.id}}">
            <td>{{role_bind.role.role_sid}}</td>
            <td>{{role_bind.role.description}}</td>
        </tr>
    {% endfor %}
</table>

<p/>

<table class="all_roles_list_table" width="100%">
    <thead>
    <tr>
        <th width="30%">Role SID</th>
        <th width="70%">Description</th>
    </tr>
    </thead>
    <tbody>
    {% for role in all_roles %}
        <tr id="{{role.id}}">
            <td>{{role.role_sid}}</td>
            <td>{{role.description}}</td>
        </tr>
    {% endfor %}
</table>


{% endblock %}
