{% extends "base.html" %}

{% block base_content %}

<script type="text/javascript">
    function on_base_save() { 
        $('#edit_user_form').submit();
    }
    function on_cancel() {
        document.location.href = '/users_list/';
    }

    $(function() {
        $('.edit_user_table').flexigrid({'height': calc_height('.edit_user_table'), 'buttons' : [
            {name: 'Save', bclass: 'save', onpress : on_base_save},
            {separator: true},
            {name: 'Cancel', bclass: 'cancel', onpress : on_cancel}
            ],
            'title': 'Edit user parameters',
            resizable: false,
            singleSelect: true});
    });
</script>

<form action="/edit_user/{{user.id}}" id="edit_user_form" method="POST">
<table class="edit_user_table" width="100%">
    <tbody>
        <tr>
            <td>Password</td>
            <td><input name="password" type="password" value=""/></td>
        </tr>
        <tr>
            <td>Retype password</td>
            <td><input name="re_password" type="password" value=""/></td>
        </tr>
        <tr>
            <td>E-mail address</td>
            <td><input name="email" type="edit" value="{{user.email_address}}"/></td>
        </tr>
        <tr>
            <td>Additional information</td>
            <td><input name="addinfo" type="edit" value="{{user.additional_info}}"/></td>
        </tr>
    </tbody>
</table>
</form>

{% endblock %}
