{% extends "base.html" %}

{% block base_content %}

<script type="text/javascript">
    function on_base_save() { 
        $('#new_user_form').submit();
    }
    function on_cancel() {
        document.location.href = '/users_list/';
    }

    $(function() {
        $('.new_user_table').flexigrid({'height': 200, 'buttons' : [
            {name: 'Save', bclass: 'save', onpress : on_base_save},
            {separator: true},
            {name: 'Cancel', bclass: 'cancel', onpress : on_cancel}
            ],
            'title': 'New user parameters',
            singleSelect: true});
    });
</script>

<form action="/create_new_user/" id="new_user_form" method="POST">
<table class="new_user_table" width="100%">
    <tbody>
        <tr>
            <td>User login</td>
            <td><input name="user_name" type="edit" value=""/></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input name="password" type="password" value=""/></td>
        </tr>
        <tr>
            <td>Retype password</td>
            <td><input name="re_password" type="password" value=""/></td>
        </tr>
        <tr>
            <td>E-mail address</td>
            <td><input name="email" type="edit" value=""/></td>
        </tr>
        <tr>
            <td>Additional information</td>
            <td><input name="addinfo" type="edit" value=""/></td>
        </tr>
    </tbody>
</table>
</form>

{% endblock %}
