{% extends "base.html" %}

{% block custom_head %}
	  <link rel="stylesheet" href="/static/timepicker/jquery-ui-1.8.16.custom.css" type="text/css" media="screen" charset="utf-8" />
	  <link rel="stylesheet" href="/static/timepicker/timepicker.css" type="text/css" media="screen" charset="utf-8" />
      <script  src="/static/timepicker/jquery-ui-1.8.16.custom.min.js"></script>
      <script  src="/static/timepicker/jquery-ui-timepicker-addon.js"></script>
{% endblock %}

{% block base_content %}

<script type="text/javascript">
    function on_refresh() {
        $(".system_logs_table").flexReload();
    }


    $(function() {
        fix_columns_width('.system_logs_table');
        fix_columns_width('.logs_filter_table');

        $('.logs_filter_table').flexigrid({'height': 120, 
            'title': 'Logs filter',
            'buttons' : [
                {name: 'Apply filter', bclass: 'apply', onpress : on_refresh},
                {separator: true},
            ],

            showTableToggleBtn: true,
            resizable: false,
            singleSelect: true});

        $(".system_logs_table").flexigrid({
            url: '/get_syslog_data/',
            dataType: 'json',
            colModel : [
                {display: 'Log ID', name : 'log_id', width : get_col_pw(1), sortable : false, align: 'center', hide: true},
                {display: 'Datetime', name : 'log_timestamp', width : get_col_pw(15), sortable : true, align: 'center'},
                {display: 'Node', name : 'node', width : get_col_pw(10), sortable : false, align: 'center'},
                {display: 'Facility', name : 'facility', width : get_col_pw(5), sortable : false, align: 'center'},
                {display: 'Priority', name : 'priority', width : get_col_pw(5), sortable : false, align: 'center'},
                {display: 'Level', name : 'level', width : get_col_pw(5), sortable : false, align: 'center'},
                {display: 'Tag', name : 'tag', width : get_col_pw(5), sortable : false, align: 'center'},
                {display: 'Program', name : 'program', width : get_col_pw(10), sortable : false, align: 'center'},
                {display: 'Message', name : 'message', width : get_col_pw(40), sortable : false, align: 'left'}
                ],
            usepager: true,
            sortname: "log_timestamp",
            sortorder: "desc",
            title: 'System log',
            useRp: true,
            rp: 50,
            onSubmit: function() {
                $('.system_logs_table').flexOptions({params: [{name:'cluster_id', value:'{{cluster.id}}'}].concat($('#fmFilter').serializeArray())});
                return true;
            },
            singleSelect: true,
            resizable: false,
            height: 200
        });   

        $('#start_dt').datetimepicker({onSelect: function (selectedDateTime){
                var start = $(this).datetimepicker('getDate');
                $('#end_dt').datetimepicker('option', 'minDate', new Date(start.getTime()) );
            }
        });
        $('#end_dt').datetimepicker({
            onSelect: function (selectedDateTime){
                    var end = $(this).datetimepicker('getDate');
                    $('#start_dt').datetimepicker('option', 'maxDate', new Date(end.getTime()) );
            }
        });
    });
</script>

<form id="fmFilter"> 
<table class="logs_filter_table" width="100%">
    <thead>
    <tr style="visibility:hidden;">
        <th width="40%"></th>
        <th width="60%"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
    <td>Node</td>
    <td><select name="node">
            <option value=""></option>
        {% for node in nodes %}
            <option value="{{node.id}}">{{node.hostname}}</option>
        {% endfor %}
    </select></td>
    </tr>
    <tr>
    <td>Facility</td>
        <td>
            <input name="facility" type="text" /> 
        </td>
    </tr>
    <tr>
    <td>Priority</td>
        <td>
            <input name="priority" type="text" /> 
        </td>
    </tr>
    <tr>
    <td>Level</td>
        <td>
            <input name="level" type="text" /> 
        </td>
    </tr>
    <tr>
    <td>Program</td>
        <td>
            <input name="program" type="text" /> 
        </td>
    </tr>
    <tr>
    <td>Start datetime</td>
    <td>
        <input id="start_dt" name="start_dt" type="text" value="" /> 
    </td></tr>
    <tr>
    <td>End datetime</td>
    <td>
        <input id="end_dt" name="end_dt" type="text" value="" /> 
    </td></tr>
    <tr>
        <td>Message</td>
        <td>
            <input name="message" type="text" /> 
        </td>
    </tr>

</table>
</form> 
<table class="system_logs_table" width="100%" auto_height has_pager>
</table>

{% endblock %}
