{% extends "base.html" %}


{% block base_content %}

<div class="container" id="wind">

  <div class="masthead">
      <!-- <h3 class="muted">Some header</h3> -->
    <div class="navbar">
      <div class="navbar-inner">
        <div class="container">
          <ul class="nav" id="menu">
              <li id="orders"><a href="/orders">Заказы</a></li>
              <li id="presence"><a href="/presence">Наличие</a></li>
              <li id="incspend"><a href="/incspend">Доход/Расход</a></li>
              <li id="embedebts"><a href="/embedebts">Вложения/Долги</a></li>
          </ul>
        </div>
      </div>
    </div><!-- /.navbar -->
  </div>

  <div class="main_content">
    {% block main_content %}
    {% endblock %}
  </div>

  <hr>

  <div class="footer text-center">
      <p>&copy; 2013 kst software</p>
  </div>

</div> <!-- /container -->
{% endblock %}

